#header-background{
	width: 100%;
	height: 600px;
	background-image: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	filter: blur(3px);
	z-index: 1;
}

#header-content{
	position: absolute;
	top: 250px;
	z-index: 2;
	left: 0px;
}

#header-content h1{
	-webkit-text-stroke: 1px #bbbbbb;
}

.site-title {
	font-family: 'Catamaran', sans-serif;
	background-color: rgba(0,0,0,.9);
}
