* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #0c141c;
}

.bg-instagram {
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.atf-container { /* Above the fold */
	height: 600px;
	background-color: #16212b;
	background: url("../images/atf.jpg");
	background-position: center;
	background-size: cover;
}

@media (min-width: 1023px){
	.pic-container {
		height: 300px;
	}
}

@media (max-width: 1022px){
	.pic-container {
		height: 900px;
	}
}

.pic-container {
	border: 0;
	background: rgba(255,255,255, 0) !important;
}

.lista-imagens{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lista-imagens-item {
	height: 400px;
	width: calc(25% - 5px);
}

@media screen and (max-width: 767px) {
	.lista-imagens {
		flex-direction: column;
	}

	.lista-imagens-item {
		width: 100%;
		height: 900px;
	}
}

.pic-thumb{
	background: #16212b;
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	border-radius: 3px !important;
	cursor: pointer;
}

.highlight-hover{
	border: 0 !important;
	transition: all .2s !important;
}

.highlight-hover:hover {
	box-shadow: 0 0 8px rgba(81, 203, 238, 1) !important;
	border: 4px solid rgba(81, 203, 238, 1) !important;
}

.btn-orange {
	background-color: #F96A0E;
	color: white;
	font-weight: bold;
	box-shadow: 0;

	transition: all .2s;
}

.btn-orange:hover {
	box-shadow: 0 0 5px #F96A0E;
}

.menu-scrolled {
	position: fixed;
	display: none;
	width: 100%;
	background: rgba(22,33,43, .8);
	top: 0;
	padding: 5px 0px;
	opacity: 0;
	justify-content: space-around;
}

#scrolled-navbar {
	margin: 0;
}

#scrolled-navbar li {
	display: inline;
	margin: 10px;
	line-height: 50px;
}

#scrolled-navbar a {
	color: white;
	font-weight: bold;
	transition: all .2s;
}

#scrolled-navbar:hover {
	font-style: underline;
}

.imagem-popup {
	display: flex;
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);
	padding-bottom: 50px;
	display: none;
}

.imagem-popup img{
	position: absolute;
	margin-top: 2%;
	height: 92%;
	align-self: center;
	border: 4px solid white;
}

#control-buttons-container {
	position: absolute;
	align-self: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#control-buttons-container i {
	cursor: pointer;
}

#control-buttons-container i:hover {
	transition: all .2s ease-in-out;
}

#control-buttons-container #nextImageBtn {
	padding-right: 25px;
}

#control-buttons-container #previousImageBtn {
	padding-left: 25px;
}

#control-buttons-container #nextImageBtn:hover {
	padding-right: 15px;
}

#control-buttons-container #previousImageBtn:hover {
	padding-left: 15px;
}

.fade-in {
	opacity: 1;
}

.close-button i{
	z-index: 2;
}

.close-button {
	display: inline-table;
	padding: 0 13px 5px 13px;
	margin-top: 10px;
	background: rgba(1,1,1, .4);
	border-radius: 100%;
	cursor: pointer;
	z-index: 2;
	transition: all .1s;
}

.close-button i {
	transition: all .1s;
}

.close-button:hover {
	background: rgba(1,1,1, .8);
}

.close-button:hover i {
	font-size: 43px;
}

footer {
	background: #16212b;
}